page-home {

    .frontpage{
    background-image: url('../assets/imgs/quiz-2.png');
        background-repeat: no-repeat;
        background-position: center;
    background-size: 10cm;
    background-color:plum;

    }
     

}
.dropbox{
    background-color: aqua;
}
h1{
    color:greenyellow;
}
cat1{
    background-color: greenyellow;
}